<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbee.mall.dao.UserDao">
    <resultMap id="UserResult" type="com.newbee.mall.entity.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
    </resultMap>
    <select id="findAllUsers" resultMap="UserResult">
        select id,name,password from tb_user order by id desc
    </select>
    <select id="findUserById" resultMap="UserResult">
        select id,name,password from tb_user where id=#{id}
    </select>
    <insert id="insertUser" parameterType="com.newbee.mall.entity.User">
        insert into tb_user (name,password) values (#{name},#{password})
    </insert>
    <delete id="deleteUser" parameterType="int">
        delete from tb_user where id=#{id}
    </delete>
    <update id="updateUser" parameterType="com.newbee.mall.entity.User">
        update tb_user set name=#{name},password=#{password} where id=#{id}
    </update>
</mapper>